html {
    box-sizing: border-box;
    font-size: calc(100vw / 1920 * 10);

    @media (max-width: 1024px) {
        font-size: calc(100vw / 768 * 10);
    }

    @media (max-width: 767px) {
        font-size: calc(100vw / 500 * 10);
    }

    @media (max-width: 500px) {
        font-size: calc(100vw / 360 * 10);
    }

    scroll-behavior: smooth;
}

body {
    font-family: serif;
    font-weight: normal;
    color: #151618;
}

a {
    color: #151618;
}

._container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
}