.clients {
	background: #f7f2ea;
	// background-image: linear-gradient(#f7f2ea, rgba(0, 0, 0.5, 0));

	h1 {
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 40px;
		padding-top: 60px;
		text-align: center;
		padding-bottom: 60px;

		@media (max-width: 768px) {
			padding: 60px 0;
			font-size: 35px;
			padding-bottom: 40px;
		}
	}

	ul {
		display: flex;
		gap: 26px;
		padding-bottom: 60px;
		flex-wrap: wrap;

		@media (max-width: 768px) {
			justify-content: center;
			align-items: center;
			padding-bottom: 60px;
		}

		li {
			max-width: 280px;

			p {
				font-family: var(--font-family);
				font-style: italic;
				font-weight: 300;
				font-size: 16px;
				padding-bottom: 10px;
			}

			a {
				font-family: var(--font-family);
				font-weight: 600;
				font-size: 20px;
			}
		}
	}
}