.know {
	background: #f7f2ea;
	padding-bottom: 100px;

	@media (max-width: 768px) {
		padding-bottom: 80px;
	}

	@media (max-width: 666px) {
		padding-bottom: 60px;
	}

	h1 {
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 40px;
		padding-bottom: 50px;
		padding-top: 100px;

		@media (max-width: 768px) {
			padding-bottom: 30px;
			padding-top: 80px;
			font-size: 30px;
		}

		@media (max-width: 666px) {
			padding-top: 60px;
		}

		@media (max-width: 666px) {
			text-align: center;
			padding-bottom: 20px;
		}

	}

	&_main {
		display: flex;
		gap: 40px;

		@media (max-width: 768px) {
			justify-content: center;
			flex-direction: column;


		}

		@media (max-width: 666px) {
			gap: 30px;
		}

	}

	&_left {



		p {
			font-family: var(--font-family);
			font-weight: 300;
			font-size: 20px;
			line-height: 150%;
			max-width: 1225px;

			@media (max-width: 768px) {
				font-size: 16px;
			}

			@media (max-width: 666px) {
				text-align: center;
			}

		}

	}

	&_right {

		&-top {
			display: flex;
			justify-content: space-between;

			@media (max-width: 666px) {
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap: 20px;
				text-align: center;
			}

			input {
				background: #f7f2ea;
				font-family: var(--font-family);
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;
				color: #b8b58b;
				border-bottom: 1px solid #b8b58b;
				width: 439px;
				margin-right: 25px;

				@media (max-width: 666px) {
					width: 300px;
				}
			}

			a {
				font-family: var(--font-family);
				font-weight: 300;
				font-size: 20px;
				border: 1px solid #151618;
				padding: 12px 41px;
				background: #fff;

				&:hover {
					color: orange;
					transition: all 0.3s ease 0s;
					border: 1px solid orange;
				}

			}
		}

		&-bot {
			padding-top: 12px;
			display: flex;
			justify-content: start;
			align-items: start;

			input {}

			p {
				padding-left: 10px;
				font-family: var(--font-family);
				font-weight: 300;
				font-size: 13px;
			}
		}
	}
}